In [1]:
import numpy as np
import pandas as pd

In [28]:
schools = pd.read_csv("../../data/schoolrecentcovid2021_2022.csv")

In [34]:
schools[schools.municipality == "Toronto"]

,collected_date,reported_date,school_board,school_id,school,municipality,confirmed_student_cases,confirmed_staff_cases,confirmed_unspecified_cases,total_confirmed_cases
19,2021-09-13,2021-09-14,Conseil scolaire catholique MonAvenir,841308,ÉÉC Saint-Michel,Toronto,0,1,0,1
40,2021-09-13,2021-09-14,Conseil scolaire Viamonde,447621,École élémentaire Charles-Sauriol,Toronto,1,0,0,1
42,2021-09-13,2021-09-14,Conseil scolaire Viamonde,019735,École élémentaire La Mosaïque,Toronto,2,0,0,2
161,2021-09-13,2021-09-14,Toronto Catholic District School Board,719528,Holy Rosary Catholic School,Toronto,0,1,0,1
162,2021-09-13,2021-09-14,Toronto Catholic District School Board,723428,Jean Vanier Catholic Secondary School,Toronto,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
50087,2021-12-22,2021-12-23,Toronto District School Board,609773,Willowdale Middle School,Toronto,2,0,0,2
50088,2021-12-22,2021-12-23,Toronto District School Board,089516,Wilmington Elementary School,Toronto,1,0,0,1
50089,2021-12-22,2021-12-23,Toronto District School Board,613282,Winchester Junior and Senior Public School,Toronto,1,0,0,1
50090,2021-12-22,2021-12-23,Toronto District School Board,614882,Windfields Middle School,Toronto,1,0,0,1
50091,2021-12-22,2021-12-23,Toronto District School Board,616141,Withrow Avenue Junior Public School,Toronto,2,0,0,2

In [36]:
schools_by_cases = schools.groupby('school', as_index=False)['total_confirmed_cases'].sum()

In [47]:
schools_by_cases[schools_by_cases.school == 'Holy Rosary Catholic School']

                          school  total_confirmed_cases
852  Holy Rosary Catholic School                     79

In [48]:
schools_by_cases[schools_by_cases.school == 'École élémentaire Charles-Sauriol']

                                 school  total_confirmed_cases
2603  École élémentaire Charles-Sauriol                     75

In [49]:
schools_by_cases

                                   school  total_confirmed_cases
0                A A Wright Public School                     20
1                 A B Ellis Public School                     20
2     A M Cunningham Junior Public School                     58
3               A N Myer Secondary School                     10
4                A V Graham Public School                     20
...                                   ...                    ...
2764            ÉÉC Sainte-Marie-Oakville                     22
2765              ÉÉC Samuel-de-Champlain                     91
2766                    ÉÉC du Bon-Berger                     22
2767        ÉÉC du Sacré-Coeur-Georgetown                     12
2768           ÉÉC du Sacré-Coeur-Toronto                     10

[2769 rows x 2 columns]